version: '3.9'
services:
  unifi-db:
    image: 'mongo:8.2.2-noble'
    container_name: unifi-db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: your_root_password
      MONGO_USER: unifi
      MONGO_PASS: your_unifi_password
      MONGO_DBNAME: unifi
      MONGO_AUTHSOURCE: admin
    volumes:
      - '/path/to/data:/data/db'
      - '/path/to/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro'
    restart: unless-stopped
    networks:
      - unifi-net
  unifi-network-application:
    image: 'lscr.io/linuxserver/unifi-network-application:latest'
    container_name: unifi-network-application
    depends_on:
      - unifi-db
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Etc/UTC
      MONGO_USER: unifi
      MONGO_PASS: your_unifi_password
      MONGO_HOST: unifi-db
      MONGO_PORT: 27017
      MONGO_DBNAME: unifi
      MONGO_AUTHSOURCE: admin
      MEM_LIMIT: 1024
      MEM_STARTUP: 1024
      MONGO_TLS: null
    volumes:
      - '/path/to/unifi-network-application/data:/config'
    ports:
      - '8443:8443'
      - '3478:3478/udp'
      - '10001:10001/udp'
    restart: unless-stopped
    networks:
      - unifi-net
networks:
  unifi-net:
    driver: bridge
